html,
body {
  background-color: #F4F5F7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*ヘッダー*/
header{
  text-align: center;
}

.main_img{
  position: relative;
  z-index:10;
  opacity: 0.5;
}
.shopname{
  background-color: #d83a47;
  position: relative;
  z-index:20;
  height: 150px;
  margin-top: -100px;
  color: #fff;
  font-size: 10rem;
}

.inner_nav{
  position: absolute;
  z-index:20;
  display: flex;
  flex-direction: column;
  top: 1.5rem;
  right: 3.0rem;
}

.tel{
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  background: #d83a47;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align:center;
  line-height: 150px;
}
.tel:hover{
  opacity: 0.8;
}

.acs{
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  background: #d83a47;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align:center;
  line-height: 150px;
}
.acs:hover{
  opacity: 0.8;
}

.inner_nav button{
  border: 0;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  background: #888888;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align:center;
  line-height: 150px;
}

.inner_nav button:hover{
  opacity: 0.8;
}

/*メニュー*/
.menu {
  margin: 15rem auto 5rem;
  width: fit-content;
}
.cuisine{
  margin: 2rem 0;
  display: flex;
}

.sub_cuisine{
  background-color: #fff;
  position: relative;
  width: 18rem;
  height: 23rem;
  margin: 0 1.2rem;
}

.sub_cuisine img{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 12.5rem;
}

.sub_cuisine h3{
  position: absolute;
  top: 11.5rem;
  left: 1rem;
}

.buy{
  display: absolute;
}

.buy p{
  position: absolute;
  top: 13rem;
  left: 0.8rem;
  font-size: 1.3rem;
  color: #6b6b6b;
}

.btn{
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 1.0;
  display: inline-block;
  padding: 0.5rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #d83a47;
  border-radius: 0.5rem;
}

.btn1{
  position: absolute;
  width: 12rem;
  font-size: 0.8rem;
  bottom: 4.0rem;
  right: 0.5rem;
}

.btn2{
  position: absolute;
  width: 12rem;
  font-size: 0.8rem;
  bottom: 1.0rem;
  right: 0.5rem;
}

/* 以下の2つでボタンが盛り上がる */
.btn--red.btn--cubic {
  border-bottom: 0.4rem solid #9f000c;
}

.btn--red.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 0.55rem solid #9f000c;
}

.btn--radius {
  border-radius: 100vh;
}

/* カート */

.cart{
  z-index:30;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 25rem;
  padding: 1rem;
  background: #fff;
  border-bottom: 1rem solid #d83a47;
}
.cart li{
  list-style: none;
}

.each{
  position: relative;
  margin-bottom: 0.7rem;
  height: 4rem;
  background-color: #ecedf0;
}

.btn--cancel{
  position: absolute;
  border: none;
  background-color:rgb(121, 115, 115);
  color: #fff;
  font-weight: 1000;
  right: 0.3rem;
  top: 0.1rem;
  width: 2rem;
}
.btn--cancel:hover{
  background-color: #9f000c;
}
.menuname{
  position: absolute;
  top: 0.7rem;
  left: 0.2rem;
  font-weight: 500;
}
.price{
  position: relative;
  top: 2rem;
  left: 0.2rem;
  color: #6b6b6b;
  display: flex;
}

.inc_dec{
  position: absolute;
  display: flex;
  right: 1.2rem;
  top: 0.2rem;
}

.inc_dec button{
  border: none;
  margin: 0 0.3rem;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  font-weight: 1000;
  color: #fff;
  background-color: #d83a47;
}
.inc_dec button:hover{
  background-color: #9f000c;
}
.eachsum{
  font-size: 1.4rem;
  color: #000;
}
.sum{
  font-size: 1.4rem;
  font-weight: 800;
  color: #9f000c;
}
.btn--order{
  height: 1.4rem;
  border: none;
  margin-left: 1rem;
  color: #fff;
  background-color: #d83a47;
  font-weight: 400;
}
.btn--order:hover{
  border-bottom: 0.3rem solid #9f000c;
}

.comp{
  font-weight: 600;
}

/* カートのアイコン */
.gg-shopping-cart {
  position: fixed;
  z-index: 40;
  bottom: 4rem;
  right: 5rem;
  display: block;
  box-sizing: border-box;
  transform: scale(var(--ggs,3));
  width: 20px;
  height: 21px;
  background:
      linear-gradient(
          to left,currentColor 12px,
          transparent 0)
          no-repeat -1px 6px/18px 2px,
      linear-gradient(
          to left,currentColor 12px,
          transparent 0)
          no-repeat 6px 14px/11px 2px,
      linear-gradient(
          to left,currentColor 12px,
          transparent 0)
          no-repeat 0 2px/4px 2px,
      radial-gradient(
          circle,currentColor 60%,
          transparent 40%)
          no-repeat 12px 17px/4px 4px,
      radial-gradient(
          circle,currentColor 60%,
          transparent 40%)
          no-repeat 6px 17px/4px 4px
}

.gg-shopping-cart::after,
.gg-shopping-cart::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 2px;
  height: 14px;
  background: currentColor;
  top: 2px;
  left: 4px;
  transform: skew(12deg)
}

.gg-shopping-cart::after {
  height: 10px;
  top: 6px;
  left: 16px;
  transform: skew(-12deg)
}

/* ログイン */

.form{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #dedde2;
  margin: 5rem auto;
  width: 40rem;
  height: 20rem;
}

.form form{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 35rem;
  background-color: #fff;
}


.input{
  position: relative;
  width: 33rem;
  height: 43rem;
}

.input input{
  position: absolute;
  background-color: #fff;
  width: 22rem;
  height: 2.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 0;
}

.mail{
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.pass{
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.form h1{
  position: absolute;
  top: -0.5rem;
  left: 2rem;
}
.form button{
  position: absolute;
  top: 8rem;
  left: 50%;
  width: 10rem;
  height: 3rem;;
  transform: translate(-50%, 0%);
  border: 0;
  font-size: 1rem;
  font-weight: 400;
  background-color: #d83a47;
  color: #fff;
}
.form button:hover{
  background-color: #ca2735;
}

.to_next{
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translate(-50%, 0%);
  color: rgb(28, 85, 241);
}

.re_form{
  position: absolute;
  left: 60%;
}

.re_form label{
  position: absolute;
  left: -14%;
}

/* ログアウト周辺 */

.state{
  display: flex;
  position: relative;
}


